<html load static>	
	
<head>	
 <link rel="stylesheet" href=" static/css/blog.css">

							
<title>CAMPUS LIFE</title>				
</head>				
<body>							
	<div>												
	<h1>CAMPUS LIFE</h1>								
	</div>						
	
			<div class="login-form">
		<h3 class="login-header">ADD POST</h3>
		  <input type="text" class="input-box" placeholder="title" name="title" >
		  <input type="password" class="input-box" placeholder="text" name="text">
		  <button type="submit" class="login-button" name="login_user">Add post</button>
		  <p>
			
  	</div>
	</body> 
</html>
