<html load static	>	
	
<head>	
 <link rel="stylesheet" href="static/css/blog.css">

							
<title>CAMPUS LIFE</title>				
</head>				
<body>							
	<div>												
	<h1>CAMPUS LIFE</h1>								
	</div>						
		<div>
		
		<h3>HOW TO SAVE MONEY AS A STUDENT</h1>
		<p>As The Beatles once said in one of their best songs Money 
		(That’s What I Want): “The best things in life are free, but your lovin’ don’t pay my bills.”
		As a student, one of the most important things to keep in mind is the amount of money you spend 
		during your study years. Spend too much, and you risk accumulating too much debt after graduation; 
		spend too little and you might be left wondering what the point of it all was, if you didn’t even get 
		to have any fun or new experiences............</p><a href="post1.html">View more</a>
		
		<ul>published: 14.06.2014,	12:14</ul>
		
		</div>
		
		<div>
		
		<h3>STUDY HACKS</h3>
			<p>Studying isn’t always easy. Many college students must deal with numerous deadlines, 
			tons of home assignments, and paper writing. True, it can be hard, especially if your high
			school experience was more relaxing – but at the same time, it isn’t impossible, especially if 
			you have the right resources to learn from. this blog can help you with that. It teaches 
			students how to become more focused and productive, how to boost their motivation, and how to prepare 
			for the exams better..........</p><a href="post2.html">View more</a>
		    <ul>published: 14.06.2014,	12:14</ul>
			
		 <div>
		 </div>	
		
		<h3>COLLEGE DIETING</h3>
		
			<p>Despite the fact that many students know that proper nutrition is important not only for their health
			but also for their brain, not all of them are able to lead a healthy lifestyle in college. This blog can become
			an inspiration for those who want to maintain a healthy diet but struggle with it. It doesn’t overload you with 
			numerous fitness facts you probably already know, providing motivation instead as well as gentle reminders about 
			why it is so important to start taking care of your health as early as possible...............<p><a href="post3.html">View more</a>
		
			<ul>published: 14.06.2014,12:14</ul>
					
		</div>				
	</body> 
</html>
