<html>				
<head>	
<link rel="stylesheet" href="static/css/blog.css">
							
<title>CAMPUS LIFE</title>				
</head>				
<body>							
	<div>												
	<h1>CAMPUS LIFE</h1>								
	</div>
	<h2><a	href="post_list.html">HOW TO SAVE MONEY AS A STUDENT</a></h2>
		<h3>As The Beatles once said in one of their best songs Money </h3>
		<p>(That’s What I Want): “The best things in life are free, but your lovin’ don’t pay my bills.”
		As a student, one of the most important things to keep in mind is the amount of money you spend 
		during your study years. Spend too much, and you risk accumulating too much debt after graduation; 
		spend too little and you might be left wondering what the point of it all was, if you didn’t even get 
		to have any fun or new experiences.</p>

       <p>But fear not: here are some easy and smart tips to save money as a student – without compromising on your quality of life.</p>
		<h3> Buy second-hand goods!</h3>
		<p>Buying second-hand goods is a great way to save money as as student, 
		because prices are usually much lower than for brand new items. Spend some time at your local Oxfam,
		Octavia Foundation or other charity shops around your university looking for second-hand goods, and you may
		be surprised at the treasures you find – high quality clothes, vintage accessories, interesting little ornaments 
		or antique books – all for a bargain price.Remember, don’t be afraid of walking in to browse the items on the shelves – 
		the staff are usually friendly and the atmosphere’s great. And, since the money’s going to a good cause, you can spend to
		your heart’s content without that guilty feeling afterwards!</p>

		<h3>Leave food shopping to later in the day</h3>
		<p>Many supermarkets have a clearance sale in the evenings, where any 
		food due to go out of date is sold at a marked-down price. Bread, seafood and dairy products go on sale, and many
		vegetables, fruits and other fresh produce are labelled with a reduced price. These are great bargains for students,
		since the foods usually won’t actually expire for another few days. Next time you go grocery shopping, try popping into 
		the store a few hours before it closes and check out the prices. There’s a massive difference! </p>

		<h3>Cook for yourself -Cooking for yourself definitely helps you save money as a student</h3>
       <p>		Eating out is one of the 
		most expensive things you can do, especially if you study in a city where a lot of restaurants are pricy. So guys and 
		girls, channel your inner Jamie Oliver and get cooking from scratch. Not only is cooking for yourself cheaper, but also 
		healthier, better for your body (think of the amount of saturated fat in oily Chinese takeaways) and great fun too!</p>

        <h3> Hide the credit card</h3>
		<p>Let’s face it, you and I are all guilty at times of spending too much money on items t
		hat a) we already have; b) are completely unnecessary or c) are just too plain expensive. And usually, taking a credit 
		or debit card out is the easy way to pay for the bill without facing the reality of the price. Many students are tempted
		by credit cards to buy now and pay at a later date, but this bad habit may lead to overspending or huge bank debts when the
		end of the month comes. Refrain from this method of paying – keeping count is much easier when it’s cash!</p>

		<h3> Search for free entertainment</h3>
		<p>Many people think having fun means spending lots of money on movies, parties, clubs,
		theme parks or other local attractions. In fact, there are many types of free entertainment available in any city – 
		it just requires a little extra effort and dedication to find! Consult the internet and maybe start from websites like 
		timeout.com, where you can search for all kinds of things to do free of charge. Remember many clubs, cinemas and theaters
		will offer discounts for students – if it’s not clearly advertised, just ask. The university itself will have plenty of cheap 
		entertainments going on, and joining student clubs will often mean you get to benefit from even more discounts.</p>
</body>
</html>